.container{
    background-color: rgba(0,0,0,0.5) ;
    margin: auto;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 40px;
    padding: 40px;
}
input{
    width: 20%;
    padding: 5px;
    margin: 3px;
    box-sizing: border-box;
    border: none;
    font-size: 12px;
}

#butt{
    color: deeppink;
    padding: 5px;
}
select{
    border: none;
    font-size: 12px;
    padding: 5px;
    margin: 3px;
}
#org{
    margin-left: 20px;
}
#des{
    margin-left: 115px;
}
#dat{
    margin-left: 120px;
}
#ori{
    margin-left: 20px;
}
#desti{
    margin-left: 20px;
}
#date{
    margin-left: 20px;
}
#sear{
    margin-left: 20px;
}
#sear{
    color: azure;
    background-color: black;
    background-image: linear-gradient(to right, black , deepskyblue);
}